.button, .donate-button, .resource-button, .inline {
  padding: 2% 5%;
  display: block;
  font-size: 1em;
  margin: 20px auto;
  background-color: #FFC86D;
  border: 1px solid #FFC86D;
  color: #fff;
  border-radius: 0;
  box-shadow: -5px 5px 10px #ddd; }
  .button:visited, .donate-button:visited, .resource-button:visited, .inline:visited {
    color: #fff; }
  .button:focus, .donate-button:focus, .resource-button:focus, .inline:focus {
    outline: none; }
  .button:hover, .donate-button:hover, .resource-button:hover, .inline:hover {
    background-color: #FFB63C;
    border-color: #FFB63C; }

.donate-button {
  padding: 1% 3%;
  width: 100px;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 0;
  margin-left: 40px;
  font-size: 1.1em;
  box-shadow: none;
  height: 50px;
  line-height: 50px;
  text-align: center; }

.resource-button {
  width: 80%;
  height: 40px;
  line-height: 40px;
  text-align: center; }

.inline {
  margin: 0;
  box-shadow: none;
  min-height: 40px;
  z-index: 2;
  padding-top: 1%;
  padding-bottom: 1%; }

html {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p {
  display: block;
  margin: auto; }

h1, h2, h3 {
  font-family: Georgia, serif;
  font-weight: 200; }

h1 {
  width: 90%;
  max-width: 940px;
  font-size: 4.5em;
  text-align: center;
  color: #01693A; }

h2 {
  font-size: 3.7em;
  text-align: center;
  line-height: 1.1em;
  margin: 20px auto; }

h3 {
  font-size: 2.25em; }

h4, p {
  font-family: Helvetica, sans-serif; }

p {
  line-height: 1.5;
  max-width: 940px;
  margin: auto; }

a {
  font-family: Helvetica, sans-serif;
  color: #01693A;
  text-decoration: none; }
  a:visited {
    color: #01693A; }

.white-text {
  color: #fff; }

.single-section__subtitle, .top-content__subtitle, .posts-container__subtitle, .heading-container__subtitle {
  text-align: center;
  font-weight: 200;
  margin: 15px auto 15px; }

#greeter {
  min-height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #greeter .top-content__heading {
    text-shadow: 2px 2px 8px #999;
    margin-bottom: 40px; }
    @media (max-width: 68.75em) {
      #greeter .top-content__heading {
        font-size: 3.7em; } }
    @media (max-width: 45em) {
      #greeter .top-content__heading {
        font-size: 3em; } }
    @media (max-width: 29.6875em) {
      #greeter .top-content__heading {
        font-size: 2em; } }

.top-content__button {
  box-shadow: -1px 2px 10px #333;
  height: 65px; }

.subscribe-front {
  background-color: #6096C2;
  clear: both; }

h4.subscribe-front__heading {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 20px; }

#wpcf7-f92-p33-o1 > form {
  display: flex;
  justify-content: center; }
  #wpcf7-f92-p33-o1 > form input[type="email"].wpcf7-email {
    width: 100%;
    margin: 0; }

.recent-posts {
  max-width: 940px;
  margin: auto; }

.recent-posts__post-container {
  display: flex;
  align-items: center; }

.recent-posts__heading {
  color: #01693A; }

.recent-posts__post-title {
  margin-bottom: 10px; }

.wp-post-image {
  max-width: 250px;
  height: 250px;
  border-radius: 250px; }

.ask-front {
  background-color: #6096C2; }

.ask-front__heading, .ask-front__sub-heading {
  color: #fff;
  text-shadow: 2px 2px 8px #333; }

.ask-front__heading {
  font-family: Helvetica, sans-serif; }

.ask-front__sub-heading {
  font-weight: 200;
  font-size: 1.2em;
  text-align: center; }

header.main-header {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 57.8125em) {
    header.main-header {
      flex-direction: column;
      align-items: flex-start; } }
  header.main-header figure {
    align-self: flex-start;
    margin-left: 20px; }
    header.main-header figure .custom-logo-link > img {
      width: 100%;
      max-width: 250px;
      height: auto; }
      @media (max-width: 68.75em) {
        header.main-header figure .custom-logo-link > img {
          max-width: 200px !important; } }

#mobile-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 57.8125em) {
    #mobile-navigation {
      width: 100%; } }

#menu-icons {
  display: none;
  font-size: 3em; }
  @media (max-width: 57.8125em) {
    #menu-icons {
      display: inline; } }

#navigation-container {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  align-items: center; }
  @media (max-width: 57.8125em) {
    #navigation-container {
      display: none;
      justify-content: flex-start;
      width: 40%;
      flex-direction: column; } }
  @media (max-width: 37.5em) {
    #navigation-container {
      width: 75%; } }
  @media (max-width: 25em) {
    #navigation-container {
      width: 100%; } }
  @media (max-width: 57.8125em) {
    #navigation-container a.donate-button {
      width: 80%;
      margin: 0 auto 20px; } }

#nav-links {
  display: flex; }

nav.main-header__nav {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 57.8125em) {
    nav.main-header__nav {
      justify-content: flex-start; } }

ul.main-header__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 0;
  font-size: 1.3em;
  font-weight: 200; }
  @media (max-width: 71.875em) {
    ul.main-header__nav-list {
      font-size: 1.1em; } }
  @media (max-width: 60.625em) {
    ul.main-header__nav-list {
      font-size: 1em; } }
  @media (max-width: 57.8125em) {
    ul.main-header__nav-list {
      flex-direction: column; } }
  ul.main-header__nav-list li {
    padding-left: 20px; }
    @media (max-width: 57.8125em) {
      ul.main-header__nav-list li {
        font-size: 1.3em;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 200; } }
    ul.main-header__nav-list li a {
      text-decoration: none;
      color: #000;
      padding-bottom: 5px; }
      ul.main-header__nav-list li a:visited {
        color: #000; }
      ul.main-header__nav-list li a:hover {
        border-bottom: 2px solid #000; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1400px;
  margin: 50px auto;
  position: relative; }
  @media (max-width: 53.125em) {
    footer {
      display: grid;
      grid-template-columns: auto 300px 300px auto;
      grid-template-rows: 1fr 1fr; } }
  @media (max-width: 37.5em) {
    footer {
      display: flex;
      flex-direction: column; } }

.footer__subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  min-width: 350px; }
  @media (max-width: 53.125em) {
    .footer__subscribe {
      width: 80%;
      grid-column: 2/5;
      grid-row: 1/2;
      justify-self: center;
      margin-left: -10%; } }
  @media (max-width: 37.5em) {
    .footer__subscribe {
      margin-left: 0;
      margin-bottom: 20px;
      width: 100%; } }
  .footer__subscribe h4 {
    font-family: Georgia, serif;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #bbb;
    font-size: 1.2em;
    text-align: left;
    display: inline; }

#wpcf7-f95-o1 > form, #wpcf7-f95-o2 > form, #wpcf7-f95-o3 > form {
  display: grid;
  grid-template-columns: 70% 30%; }
  #wpcf7-f95-o1 > form input[type="email"], #wpcf7-f95-o2 > form input[type="email"], #wpcf7-f95-o3 > form input[type="email"] {
    width: 100%; }
  #wpcf7-f95-o1 > form input[type="submit"], #wpcf7-f95-o2 > form input[type="submit"], #wpcf7-f95-o3 > form input[type="submit"] {
    background-color: #3B5998;
    border-color: #3B5998; }
    #wpcf7-f95-o1 > form input[type="submit"]:hover, #wpcf7-f95-o2 > form input[type="submit"]:hover, #wpcf7-f95-o3 > form input[type="submit"]:hover {
      background-color: #6096C2;
      border-color: #6096C2; }

.footer__nav {
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  @media (max-width: 53.125em) {
    .footer__nav {
      grid-column: 2/3;
      grid-row: 2/3;
      justify-self: end; } }
  @media (max-width: 37.5em) {
    .footer__nav {
      margin-bottom: 20px;
      align-items: center; } }

ul.footer__nav-list {
  list-style-type: none;
  display: inline-block;
  margin: auto; }
  @media (max-width: 37.5em) {
    ul.footer__nav-list {
      padding-left: 0; } }
  ul.footer__nav-list li {
    display: inline; }

i {
  color: #fff; }

.icon-background {
  color: #6096C2; }
  .icon-background:focus {
    color: #3B5998; }

@media (max-width: 53.125em) {
  footer > a.donate-button {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: start;
    width: 40%;
    margin-left: 0; } }
@media (max-width: 37.5em) {
  footer > a.donate-button {
    width: 80%; } }

div#bottom-qa {
  display: flex; }

.recent-posts {
  width: 66%; }

aside.category-sidebar {
  width: 33%; }

.recent-posts__subtitle {
  margin: 15px 0;
  text-align: center;
  font-weight: 200; }

.recent-posts__qa-container {
  border: 1px solid #ccc;
  display: flex; }

.recent-posts__qa-thumbnail {
  margin: 0; }
  .recent-posts__qa-thumbnail > img.wp-post-image {
    border-radius: 0; }

.recent-posts__qa-text-container {
  padding: 20px; }

.recent-posts__qa-title {
  font-size: 1.5em;
  color: #01693A;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 500;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px; }

.recent-posts__qa-date {
  text-transform: uppercase;
  color: #ccc; }

.category-sidebar {
  margin-left: 20px; }

.category-sidebar__title {
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Helvetica", Arial, sans-serif;
  text-transform: uppercase;
  color: #01693A; }

.category-sidebar__item-list {
  list-style-type: none;
  padding: 0; }
  .category-sidebar__item-list li:not(:last-child) {
    border-bottom: 1px solid #000; }
  .category-sidebar__item-list li {
    padding: 10px 0;
    font-weight: 600; }
    .category-sidebar__item-list li a {
      color: #000; }

html {
  box-sizing: border-box; }

section {
  max-width: 1400px;
  margin: auto; }

.top-content {
  background-size: cover; }

.v-pad10 {
  padding-top: 10%;
  padding-bottom: 10%; }

.v-pad5 {
  padding-top: 5%;
  padding-bottom: 5%; }

.v-pad-small {
  padding-top: 7%;
  padding-bottom: 7%; }

hr {
  width: 25%;
  max-width: 300px;
  border-top: 1px solid #000;
  color: #fff;
  margin-bottom: 50px; }

.single-section {
  max-width: 940px;
  margin: auto; }

.single-section__heading {
  color: #01693A; }

.classemail-inline > input {
  min-height: 40px; }

.wpcf7-form-control-wrap > input, .wpcf7-form-control-wrap > textarea {
  width: 90%;
  max-width: 940px;
  display: block;
  margin: auto;
  padding: 1%;
  font-family: Helvetica, sans-serif;
  font-size: 1em; }

span.wpcf7-list-item-label {
  font-family: Helvetica, sans-serif; }

#wpcf7-f92-p33-o1 > .wpcf7-form {
  display: flex;
  max-width: 940px;
  margin: auto; }

#wpcf7-f4-p76-o1 > form > span > input, #wpcf7-f4-p120-o1 > form > span > input {
  margin-bottom: 20px; }

#wpcf7-f95-o3 > form p {
  display: inline-block; }

.ask-front__sub-heading {
  margin-bottom: 20px; }

span.wpcf7-list-item.first.last {
  width: 90%;
  max-width: 940px;
  margin: 30px auto 10px;
  display: block;
  font-family: "Helvetica", Arial, sans-serif;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
