@import mixins

#greeter
	min-height: 50vh
	background-size: cover
	display: flex
	justify-content: center 
	align-items: center 
	flex-direction: column
	.top-content__heading
		text-shadow: 2px 2px 8px #999
		margin-bottom: 40px
		@include forSmallScreens(1100)
			font-size: 3.7em
		@include forSmallScreens(720)
			font-size: 3em
		@include forSmallScreens(475)
			font-size: 2em

.top-content__button
	box-shadow: -1px 2px 10px #333
	height: 65px

// +++++++++ Mailing List Promo ++++++++ //
.subscribe-front
	background-color: $lightBlue
	clear: both

h4.subscribe-front__heading
	text-align: center
	color: #fff
	font-size: 1.5em
	font-weight: 400
	margin-bottom: 20px

#wpcf7-f92-p33-o1 > form
	display: flex
	justify-content: center
	input[type="email"].wpcf7-email
		width: 100%
		margin: 0

// ++++++++++++ Recent Posts +++++++++++ //
.recent-posts
	max-width: 940px
	margin: auto

.recent-posts__post-container
	display: flex
	align-items: center

.recent-posts__heading
	color: $green

.recent-posts__post-title
	margin-bottom: 10px

.wp-post-image
	max-width: 250px
	height: 250px
	border-radius: 250px

// ++++++++++ Ask Greenometry ++++++++++ //
.ask-front
	background-color: $lightBlue

.ask-front__heading, .ask-front__sub-heading
	color: #fff
	text-shadow: 2px 2px 8px #333

.ask-front__heading
	font-family: Helvetica, sans-serif

.ask-front__sub-heading
	font-weight: 200
	font-size: 1.2em
	text-align: center