@import mixins

// Container
header.main-header
	width: 95%
	max-width: 1400px
	margin: auto
	display: flex
	justify-content: space-between
	align-items: center
	@include forSmallScreens(1000)
		flex-direction: column
	figure
		align-self: flex-start
		margin-left: 20px
		img
			max-width: 300px !important
			height: auto


// Nav
nav.main-header__nav
	display: flex 
	flex-grow: 2
	justify-content: flex-end
ul.main-header__nav-list
	display: flex
	list-style-type: none
	justify-content: space-between
	@include forSmallScreens(1000)
		flex-direction: column
	li
		padding-left: 20px
		a
			text-decoration: none
			color: #000
			padding-bottom: 5px
			&:visited
				color: #000
			&:hover
				border-bottom: 2px solid #000



