// Container
header.main-header
	max-width: 1400px
	margin: auto
	display: flex
	justify-content: space-between

// Logo
body > header > figure > a > img
	max-width: 300px !important
	height: auto

// Nav
nav.main-header__nav
	display: flex
	justify-content: center
	align-items: center
ul.main-header__nav-list
	display: flex
	list-style-type: none
	justify-content: space-between
	align-items: center
	li
		padding-left: 20px
		a
			text-decoration: none



