@import colors
@import buttons
@import typography
@import front-page
@import _header
@import _footer
@import _qa

html
	box-sizing: border-box

section
	max-width: 1400px
	margin: auto

.top-content
	background-size: cover

.v-pad10
	padding-top: 10%
	padding-bottom: 10%

.v-pad-small
	padding-top: 7%
	padding-bottom: 7%

hr 
	width: 25%
	max-width: 300px
	border-top: 1px solid #000
	color: #fff
	margin-bottom: 50px

// Single Section (Contact, Donate)
.single-section
	max-width: 940px
	margin: auto

.single-section__heading
	color: $green

// Forms
.classemail-inline > input
	min-height: 40px

.wpcf7-form-control-wrap > input, .wpcf7-form-control-wrap > textarea
	width: 90%
	max-width: 940px
	display: block
	margin: auto
	padding: 1%
	font-family: Helvetica, sans-serif
	font-size: 1em

span.wpcf7-list-item-label
	font-family: Helvetica, sans-serif

#wpcf7-f92-p33-o1 > .wpcf7-form
	display: flex
	max-width: 940px
	margin: auto

// Main Contact Form
#wpcf7-f4-p76-o1 > form > span > input, #wpcf7-f4-p120-o1 > form > span > input
	margin-bottom: 20px

// Footer Contact
#wpcf7-f95-o3 > form p
	display: inline-block

// Ask Greenometry
.ask-front__sub-heading
	margin-bottom: 20px

span.wpcf7-list-item.first.last //checkbox
	width: 90%
	max-width: 940px
	margin: 30px auto 10px
	display: block
	font-family: 'Helvetica', Arial, sans-serif
	color: #fff



