@import colors
@import buttons
@import typography
@import front-page
@import _header
@import _footer

html
	box-sizing: border-box

section
	max-width: 1400px
	margin: auto

.top-content
	background-size: cover

.v-pad10
	padding-top: 10%
	padding-bottom: 10%

.v-pad5
	padding-top: 5%
	padding-bottom: 5%

// Single Section (Contact, Donate)
.single-section
	max-width: 940px
	margin: auto

.single-section__heading
	color: $green

// Forms

.wpcf7-form
	display: block 
	margin: auto 
	width: 100%
	max-width: 940px

.wpcf7-form-control-wrap > input, .wpcf7-form-control-wrap > textarea
	width: 100%
	max-width: 940px
	padding: 1%
	font-family: Helvetica, sans-serif
	font-size: 1em

span.wpcf7-list-item-label
	font-family: Helvetica, sans-serif

#wpcf7-f92-p33-o1 > .wpcf7-form
	display: flex
	max-width: 940px
	margin: 0

#wpcf7-f92-p33-o1 > .wpcf7-form > p 
	display: flex

// Footer Contact
#wpcf7-f95-o3 > form p
	display: inline-block




