@import colors
@import buttons
@import typography
@import front-page
@import _header

html
	box-sizing: border-box

section
	max-width: 1400px
	margin: auto

.top-content
	background-size: cover

.v-pad10
	padding-top: 10%
	padding-bottom: 10%

.v-pad5
	padding-top: 5%
	padding-bottom: 5%

// Single Section (Contact, Donate)
.single-section
	max-width: 940px
	margin: auto

.single-section__heading
	color: $green

// ---------- FORMS ---------- //

// Global
.wpcf7-form > p 
	position: relative

label.text, label.textarea
	color: #999
	position: absolute
	z-index: 2

label.text 
	top: 50%
	left: 1%

label.textarea
	top: 15%
	left: 1%

.wpcf7-form-control-wrap > input, .wpcf7-form-control-wrap > textarea
	width: 100%
	padding: 1%
	font-family: Helvetica, sans-serif
	font-size: 1em

.wpcf7-form > p > input[type="submit"]

#wpcf7-f92-p33-o1 > .wpcf7-form
	max-width: 940px
	margin: auto
	p 
		display: inline

// Mailing List (Front Page)
#wpcf7-f92-p33-o1 > .wpcf7-form > p 

#wpcf7-f92-p33-o1 > form > p:nth-child(3) > input
	width: 100%	
//




